/* Producer-generated file */
BODY
{
    COLOR:  #ffffff;
    FONT-FAMILY:Verdana,Verdana,Arial;
    background-color: #ffffff;
}
#LeftSideBackground
{
    background-color: #879bb9;
}
#LoadingWaitDiv
{
    background-color: #879bb9;
}
.TOCEntryNormal
{
    FONT-SIZE: 12pt;
}
.TOCEntryNowPlaying
{
    FONT-SIZE: 12pt;
}
#DiscussionDiv
{
    FONT-SIZE: 12pt;
    background-color: #879bb9
}
