body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet•;}
.T
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:bold;
	color:#3333CC;
	mso-color-index:5;
	font-size:190%;}
.BB
	{mso-special-format:bulletr;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:85%;}
.B
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:133%;}
.B1B
	{mso-special-format:bulletm;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:75%;}
.B1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;}
.B2B
	{mso-special-format:bullet•;}
.B2
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;}
.B3B
	{mso-special-format:bullet–;}
.B3
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;}
.B4B
	{mso-special-format:bullet»;}
.B4
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;}
.NB
	{mso-special-format:nobullet•;}
.N
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N1B
	{mso-special-format:nobullet•;}
.N1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N2B
	{mso-special-format:nobullet•;}
.N2
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N3B
	{mso-special-format:nobullet•;}
.N3
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N4N
	{mso-special-format:nobullet•;}
.N4
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;}
.OB
	{mso-special-format:nobullet•;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;}
.O1B
	{mso-special-format:nobullet•;}
.O1
	{font-family:"Times New Roman";
	font-size:114%;}
.O2B
	{mso-special-format:nobullet•;}
.O2
	{font-family:"Times New Roman";
	font-size:114%;}
.O3B
	{mso-special-format:nobullet•;}
.O3
	{font-family:"Times New Roman";
	font-size:114%;}
.O4B
	{mso-special-format:nobullet•;}
.O4
	{font-family:"Times New Roman";
	font-size:114%;}
.CBB
	{mso-special-format:nobulletr;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:85%;}
.CB
	{font-family:"Times New Roman";
	font-size:133%;}
.CB1B
	{mso-special-format:nobulletm;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:75%;}
.CB1
	{font-family:"Times New Roman";
	font-size:114%;}
.CB2B
	{mso-special-format:nobullet•;}
.CB2
	{font-family:"Times New Roman";
	font-size:95%;}
.CB3B
	{mso-special-format:nobullet–;}
.CB3
	{font-family:"Times New Roman";}
.CB4B
	{mso-special-format:nobullet»;}
.CB4
	{font-family:"Times New Roman";}
.CTB
	{mso-special-format:nobullet•;}
.CT
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:bold;
	color:#3333CC;
	mso-color-index:5;
	font-size:190%;}
.HBB
	{mso-special-format:bulletr;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:85%;}
.HB
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;}
.HB1B
	{mso-special-format:bulletm;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:75%;}
.HB1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;}
.HB2B
	{mso-special-format:bullet•;}
.HB2
	{font-family:"Times New Roman";
	font-size:85%;}
.HB3B
	{mso-special-format:bullet–;}
.HB3
	{font-family:"Times New Roman";}
.HB4B
	{mso-special-format:bullet»;}
.HB4
	{font-family:"Times New Roman";}
.QBB
	{mso-special-format:bulletr;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:85%;}
.QB
	{font-family:"Times New Roman";
	font-size:95%;}
.QB1B
	{mso-special-format:bulletm;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:75%;}
.QB1
	{font-family:"Times New Roman";
	font-size:85%;}
.QB2B
	{mso-special-format:bullet•;}
.QB2
	{font-family:"Times New Roman";
	font-size:76%;}
.QB3B
	{mso-special-format:bullet–;}
.QB3
	{font-family:"Times New Roman";}
.QB4B
	{mso-special-format:bullet»;}
.QB4
	{font-family:"Times New Roman";}
.TblB
	{mso-special-format:nobulletr;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:85%;}
.Tbl
	{font-family:"Times New Roman";
	font-size:114%;}
.Tbl1B
	{mso-special-format:nobulletm;
	color:#3333CC;
	mso-color-index:5;
	font-family:ZapfDingbats;
	font-size:75%;}
.Tbl1
	{font-family:"Times New Roman";
	font-size:95%;}
.Tbl2B
	{mso-special-format:nobullet•;}
.Tbl2
	{font-family:"Times New Roman";
	font-size:85%;}
.Tbl3B
	{mso-special-format:nobullet–;}
.Tbl3
	{font-family:"Times New Roman";}
.Tbl4B
	{mso-special-format:nobullet»;}
.Tbl4
	{font-family:"Times New Roman";}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:"Comic Sans MS";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:85%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:0;
	mso-kinsoku-overflow:0;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#CCCCFF !important;}
a:active
	{color:#3333CC !important;}
a:visited
	{color:#B2B2B2 !important;}
